
<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />

    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="bg-dark">
    <div class="container-fluid container-table">
      <div class="row vertical-center-row">
        <h1 class="codewa text-center">
          <span class="brackets">&lt/</span>
          <span class="brand">codeWA</span>
          <span class="brackets">></span>
        </h1>
        <ul class="codewa list-inline text-center">
          <li><h4>{Workshops}</h4></li>
            <li><h4>{Hackathons}<h4></li>
          <li><h4>{Job Advertisements}<h4></li>
          <li><h4>{Career Spotlights}<h4></li>
        </ul>
            <%=form_for :signup, url: signups_path, :class=>"form-inline" do |f| %>
            <% if @signup.errors.any? %>
                  <div id = "error-explanation">
                    <h2>
                        <%pluralize(@signup.errors.count, "error") %>
                        Unfortunately, there were errors in your email address.
                    </h2>
                    <ul>
                        <% @signup.errors.full_messages.each do |msg| %>
                            <li><%=msg %></li>
                        <% end %>
                    </ul>
            <% end %>
            <div class="container-fluid text-center">
                <%= f.email_field :email,:placeholder => 'example@gmail.com', :class => "email form-control input-xlarge"%>
                <% if flash[:notice] %>
                      <p id="notice"><%= flash[:notice]  %></p>
                <% end %>
                <%= f.submit "Signup", :class => "submit text-center form-inline submit-center"%>
               <% end %>
          </div>
    </div>
  </div>
  <div id="footer">
    <div class="container-fluid containter-table text-center footer-padding">
      <div style="display:inline-block;">
        <p>Powered by</p>
      </div>
      <!-- <div style="display:inline-block;vertical-align:top;position:relative"> -->
        <%= link_to image_tag("bloom-60.png"), "http://www.bloom.org.au" %>
</div>
</div>
</div>
 </div>
</body>
</html>
